
.contact__wrapper{
    display: flex;
    min-height: 100%;
    background-color: #0a0a0acc;
    
    
}


.form__title{
    padding: 20px 0;
    font-size: 5rem;
    color: #fff;

}
.contact__image{
    width: 60%;
    height: 500px;
}


.contact__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contact__form{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.contact__form input, 
.contact__form textarea{
    width: 400px;
    display: block;
    height: 50px;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 10px;
    
}
.contact__form textarea{
    height: 200px;
    resize: none;
  
}

.form__btn{
    padding: 10px 30px;
    border: none;
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease-in-out;
    width: 100%;
}

.form__btn:hover{
    background-color: #222;
    color: #fff;

}

@media (max-width: 1024px){
    
.contact__wrapper{
    flex-direction: column;
}
.contact__image{
    width: 100%;
    height: 500px;
}
.contact__form{
    width: 100%;
    height: 100%;
  
    
}

}


